.image-container {
  display: flex;
  justify-content: center;
}


.img1 {
  position: relative;
  z-index: 2;
  right: -20px;
}

.img2{
  position: relative;
  left: -20px;
}


.content-box {
  display: flex;
  justify-content: center;
}
.content {
  box-shadow: 2px 2px 3px 3px rgba(0,0,0,0.05);
  text-align: center;
  padding: 2px;
  border-radius: 5px;
  flex: 0 1 50%;
}

.margin {
 margin: 15px;
}

.padding {
  padding: 25px;
}

.margin-top {
  margin-top: 20px;
}

.margin-bottom {
  margin-bottom: 30px;
}

.margin-right {
  margin-right: 15px;
}

.font {
  color: rgb(75, 75, 75);
  font-size: 18px;
}

.wrapper {
background-color: #F4F4F4;
background-attachment: fixed;
}

.color {
  background-color: rgba(255, 255, 255, 0.7);
}

.card-col {
  display: flex;
  justify-content: center;
}
.card {
  position: relative;
  height: 250px;
  width: 250px;
  border-radius: 15px;
  margin-bottom: 25px;
  box-shadow: 2px 2px 3px 3px rgba(0,0,0,0.1);
}

.front {
  border-radius: 15px;
  background-position: center;
  background-size: 80px 80px;
  background-repeat: no-repeat;
  background-color: white;
}

.back {
  border-radius: 15px;
  // box-shadow: 2px 2px 3px 3px rgba(0,0,0,0.1);
  // text-align:left;
}

.card-hover {
}

.card-city {
  margin-top: 10px;
}

.card-category {
  font-size: 15px;
  text-transform: uppercase;
  opacity: 0.8;
  font-weight: lighter;
}

.card-back-title {
  text-align: left;
}

.card-description {
  background: #364F6B;
  height: 100%;
  color: white;
  border-radius: 15px;
  text-shadow: 1px 1px 2px black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10%;
}

.card-description h2 {
  margin-top: 0px;
  font-size: 20px;
}
.card-description p {
  font-weight: lighter;
  font-size: 17px;
  opacity: 0.8;
}

.city-name {
  font-size: 20px;
  opacity: 0.8;
  display: block;
  text-align: left;
}


.city-item-price {
  font-size: 24px;
  line-height: 20px;
  font-family: "Roboto Mono", "Helvetica", "sans-serif";
}

.image-cropper {
    width: 250px;
    height: 250px;
    border: 5px solid white;
    box-shadow: 0px 0px 5px grey;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    // box-shadow:0px 0px 6px grey;
}


.inline {
   display:inline-block;
}

.border-right {
  border-right-style: solid;
  color: #F4F4F4;
}

.left-align {
  text-align: left
}

.border-transparent {
  border-right-style: solid;
  color: #F4F4F4;
}


.cities-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 25vh;
  .separator {
    border: 1px solid #e6e6e6;
    align-self: stretch;
  }
}

.red {
  display: flex;
  align-items: center;
  font-weight: 800;
  .circle-icon {
    background-color: $red;
  }
}

.green {
  display: flex;
  align-items: center;
  font-weight: 800;
  .circle-icon {
    background-color: $green;
  }
}

.banner-size {
  display: flex;
  justify-content: center;
  height: 100vh;
  margin-top: -70px;
  align-items: center;
}

.banner-container {
  width: 100%;
  p{
    color: #676666;
  }
}

.page-wrapper {
  // height: 100vh;
  text-align: center;
}

.scrolldown-button {
  position: absolute;
  bottom: 5px;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  font-size: 40px;
  color: rgba(0,0,0,0.3);
  // margin-top: 10vh;
}

.title {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.city-box p {
  font-size: 27px;
  font-weight: 300;
}
.city-box .city {
  padding-right: 10px;
}
.city-box h1 {
  font-size: 45px;
  justify-content: space-around;
}


.circle-icon {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 16px;
  color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;

}
.table-text {
  font-weight: 300;
  font-size: 14px;
}

.table {
  margin-right: 5px;
}

.page-size {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
  h1 {
    font-size: 24px;
    margin: 0;
    margin-top: 20px;
  }
}
