<div class="map-container">
  <div class="map-filter"></div>
  <div class="map-form">
    <h1>Lucid</h1>
    <h2>Find your next place to live</h2>
    <br>
    <%= render 'pages/homeform' %>

  </div>

  <div class="map-bg" style="background-image: url(http://res.cloudinary.com/slzr/image/upload/v1500321012/world-map-1500_vvekl5.png"></div>
  <div class="point venezuela tippy" title="Venezuela"></div>
  <div class="point brasil tippy" title="Brasil"></div>
  <div class="point argentina tippy" title="Argentina"></div>
  <div class="point colombia tippy" title="Colombia"></div>
  <div class="point panama tippy" title="Panamá"></div>
  <div class="point mexico tippy" title="Mexico"></div>
  <div class="point usa tippy" title="Estados Unidos"></div>
  <div class="point arabia tippy" title="Arabia Saudi"></div>
  <div class="point turquia tippy" title="Turquía"></div>
  <div class="point rusia tippy" title="Rusia"></div>
  <div class="point china tippy" title="China"></div>
  <div class="point japon tippy" title="Japon"></div>
  <div class="point australia tippy" title="Australia"></div>
</div>

<%= content_for :after_js do %>
<script>

  var substringMatcher = function(strs) {
    return function findMatches(q, cb) {
      var matches, substringRegex;

      // an array that will be populated with substring matches
      matches = [];

      // regex used to determine if a string contains the substring `q`
      substrRegex = new RegExp(q, 'i');

      // iterate through the pool of strings and for any string that
      // contains the substring `q`, add it to the `matches` array
      $.each(strs, function(i, str) {
        if (substrRegex.test(str)) {
          matches.push(str);
        }
      });

      cb(matches);
    };
  };

  var cities = <%= City.all.map { |c| c.name }.to_json.html_safe %>;
  // var cities = ["Paris", "Berlin"];


  $('#current_city, #destination_city').typeahead({
    hint: true,
    highlight: true,
    minLength: 1
  },
  {
    name: 'cities',
    source: substringMatcher(cities)
  });
</script>
<% end %>


<script src="https://www.amcharts.com/lib/3/ammap.js?3.17.0"></script>
<script src="https://www.amcharts.com/lib/3/maps/js/worldLow.js"></script>
<div id="chartdiv"></div>

