
<div class="map-container">
  <div class="map-filter"></div>
  <div class="map-form">
    <h1>Lucid</h1>
    <h2>Compare cities intelligently</h2>
    <div class="search-form">
      <form action="/result" method="GET">
      Current city: <input name="current_city" type="text" >
      Destination city: <input name="destination_city" type="text">
      <input type="submit">
    </div>
  </div>
  <img src="http://res.cloudinary.com/slzr/image/upload/v1500321012/world-map-1500_vvekl5.png">
  <div class="point venezuela tippy" title="Venezuela"></div>
  <div class="point brasil tippy" title="Brasil"></div>
  <div class="point argentina tippy" title="Argentina"></div>
  <div class="point colombia tippy" title="Colombia"></div>
  <div class="point panama tippy" title="Panamá"></div>
  <div class="point mexico tippy" title="Mexico"></div>
  <div class="point usa tippy" title="Estados Unidos"></div>
  <div class="point arabia tippy" title="Arabia Saudi"></div>
  <div class="point turquia tippy" title="Turquía"></div>
  <div class="point rusia tippy" title="Rusia"></div>
  <div class="point china tippy" title="China"></div>
  <div class="point japon tippy" title="Japon"></div>
  <div class="point australia tippy" title="Australia"></div>
</div>



<!-- <div class="banner particle-network-animation">
  <div class="banner-content">
    <h1>Lucid</h1>
    <h2>Compare cities intelligently</h2>
    <div class="search-form">
      <form action="/result" method="GET">
      Current city: <input name="current_city" type="text" >
      Destination city: <input name="destination_city" type="text">
      <input type="submit">

      <div class="typeform-widget" data-url="https://vedikaja-in.typeform.com/to/TLN0Tm" style="width: 50%; height: 500px;" > </div> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm", b="https://embed.typeform.com/"; if(!gi.call(d,id)) { js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script> <div style="font-family: Sans-Serif;font-size: 12px;color: #999;opacity: 0.5; padding-top: 5px;" > powered by <a href="https://www.typeform.com/examples/?utm_campaign=TLN0Tm&amp;utm_source=typeform.com-81441-Basic&amp;utm_medium=typeform&amp;utm_content=typeform-embedded-poweredbytypeform&amp;utm_term=EN" style="color: #999" target="_blank">Typeform</a> </div>

    </div>
  </div>
</div> -->

