<div class="map-container">
  <div class="map-filter"></div>
  <div class="map-form">
    <h1>Lucid</h1>
    <h2>Compare cities intelligently</h2>
    <form action="/result" method="GET" class="form-inline">
      <div class="form-group">
        <input name="current_city" type="text" id="current_city" placeholder="Where do you live?" class="form-control">
      </div>
      <div class="form-group">
        <input name="destination_city" type="text" id="destination_city" placeholder="Where do you go?" class="form-control">
      </div>
      <input type="submit" value="Compare" class="btn btn-primary">
    </form>
  </div>
  <div class="map-bg" style="background-image: url(http://res.cloudinary.com/slzr/image/upload/v1500321012/world-map-1500_vvekl5.png"></div>
  <div class="point venezuela tippy" title="Venezuela"></div>
  <div class="point brasil tippy" title="Brasil"></div>
  <div class="point argentina tippy" title="Argentina"></div>
  <div class="point colombia tippy" title="Colombia"></div>
  <div class="point panama tippy" title="Panamá"></div>
  <div class="point mexico tippy" title="Mexico"></div>
  <div class="point usa tippy" title="Estados Unidos"></div>
  <div class="point arabia tippy" title="Arabia Saudi"></div>
  <div class="point turquia tippy" title="Turquía"></div>
  <div class="point rusia tippy" title="Rusia"></div>
  <div class="point china tippy" title="China"></div>
  <div class="point japon tippy" title="Japon"></div>
  <div class="point australia tippy" title="Australia"></div>
</div>
