<h1>Pages#Result</h1>

<h2>Current city: <%= @current_city.name %></h2>
<p>purchasing_power_incl_rent_index: <%= @current_city_local_purch_pow.score %></p>

<h2>Destination city: <%= @destination_city.name %></h2>
<p>purchasing_power_incl_rent_index: <%= @destination_city_local_purch_pow.score %></p>


