<h2>Lucid's reccomendation engine reccomends <%=@recommended_city.capitalize%> based on your preferences</h2>

<h2>Quality of life</h2>
<%= line_chart [
    {name: @current_city.name, data: @current_city_graph_lifequality},
    {name: @destination_city.name, data: @destination_city_graph_lifequality}
  ]
%>

<h2>Cost and PP</h2>
<%= line_chart [
    {name: @current_city.name, data: @current_city_graph_quantitative},
    {name: @destination_city.name, data: @destination_city_graph_quantitative}
  ]
%>
