<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <h2>Lucid's reccomendation engine reccomends <%=@recommended_city.capitalize%> based on your preferences</h2>
      <div class="content-box">
        <div class="content">
          <h2>Quality of life</h2>
          <%= line_chart [
              {name: @current_city.name, data: @current_city_graph_lifequality},
              {name: @destination_city.name, data: @destination_city_graph_lifequality}
            ]
          %>
        </div>
        <div class="content">
          <h2>Cost and PP</h2>
          <%= line_chart [
              {name: @current_city.name, data: @current_city_graph_quantitative},
              {name: @destination_city.name, data: @destination_city_graph_quantitative}
            ],  colors: ["yellow", "blue"]
          %>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
    <div class="content-box">
      <div class="content">
        <%= column_chart @qual_data, colors: ["green", "#FF0000"], library: {backgroundColor: "#FFF", height: 265} %>
      </div>
    </div>
  </div>
  </div>
</div>



