<%= @current_city.name %>

<% @current_city.cities_factor.each do |f| %>
  <p><%= f.factor.name %></p>
  <p><%= f.score %></p>
  <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%= f.score*100 %>%;">
      <span class="sr-only">60% Complete</span>
    </div>
  </div>
<% end %>


